@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

body {
    font-family: 'Smooch', cursive;
}

main {
    display: flex;
    justify-content: space-around;
}

#userForm {
    background-color: #ffcddd;
    padding: 1rem;
    border: 1px solid #90ee
}

label {
    display: block;
}

dl {
    padding: 1rem;
}
/* This makes change to the "Immediate" child element, if another element is 
wrapped around the child element. The change will not be made.*/
dl > li {
    list-style: none;
}

dl:nth-of-type(even) {
    background-color: #ffcddd;
}