@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

body {
    font-family: 'Smooch', cursive;
}

main {
    display: flex;
    justify-content: space-around;
}

#userForm {
    background-color: #ffcddd;
    padding: 1rem;
    border: 1px solid #90ee
}

label {
    display: block;
}

dl > li {
    list-style: none;
}